@use 'header'; 
@use 'footer';

html, body {
    height: 100%; 
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
}

main {
    flex: 1; 

.main-footer {
    margin-top: auto; 
}
