@font-face {
  font-family: 'kionaregular';
  src: url("../fonts/kiona-regular-webfont.woff2") format("woff2"), url("../fonts/kiona-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nature_beauty';
  src: url("../fonts/nature_beauty_personal_use-webfont.woff2") format("woff2"), url("../fonts/nature_beauty_personal_use-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media (hover: hover) and (pointer: fine) {
  input#reservation:hover {
    background: transparent;
    border: 4px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(45deg, #735934 0%, #b3a582 65%, #735934 100%);
    -webkit-transform: scale(1);
            transform: scale(1);
    padding: 8px 33px;
    color: #735934;
  }
  input#reservation.close_form:hover {
    color: #555453;
  }
  body.black input#reservation:hover {
    color: #555453;
  }
}

@media screen and (max-width: 2250px) {
  .section .text_container h3.content_title {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 1920px) {
  .section .text_container a.savoir_plus_btn {
    margin-top: 10px;
  }
  .event_slider .splide__track .splide__list .splide__slide .splide_img .time_event span {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1860px) {
  .section .text_container h3.content_title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1820px) {
  .slider_logo {
    width: 600px;
  }
}

@media screen and (max-width: 1680px) {
  .section .text_container h2.big_title {
    font-size: 4.6em;
  }
}

@media screen and (max-width: 1600px) {
  #adress p.links a {
    width: 250px;
  }
}

@media screen and (max-width: 1534px) {
  div.event_banner .date_container .date_event {
    font-size: 2em;
  }
  div.event_banner .date_container h2.very_big_title {
    font-size: 3em;
  }
}

@media screen and (max-width: 1320px) {
  #adress p.links a {
    width: 160px;
  }
}

@media screen and (max-width: 875px) {
  #adress {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #adress p.links a {
    font-size: 1.5em;
    width: 20px;
  }
  #adress p.links:not(:first-child) {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1140px) {
  .tab_container .tab button {
    font-size: 3em;
  }
  .tab_container .tab button.active {
    font-size: 4em;
  }
  .tab_container .tab button:not(:first-child) {
    margin-top: 30px;
  }
}

@media (max-width: 1060px) {
  .accordeon_slider .block-w {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    min-height: calc(100vh / 3);
  }
  .accordeon_slider .text_accordeon {
    padding-top: 0;
    padding-bottom: 0;
  }
  .accordeon_slider .text_accordeon .containerName h2 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .accordeon_slider .active .text_accordeon .containerName h2 {
    font-size: 4em;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: .8em;
  }
  .slider_logo {
    width: 400px;
  }
  h1.text_logo {
    top: 24px;
  }
  .section .text_container a.savoir_plus_btn {
    padding: 10px 20px;
  }
  .contact_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact_section .contact-form {
    width: 100vw;
    padding: 80px 0 0 0;
    margin-bottom: 40px;
  }
  .contact_section .contact-form form.contact {
    width: calc(100vw - 30px);
    max-width: 720px;
  }
  .contact_section #map_marais {
    position: unset;
    width: 100vw;
    margin-bottom: 37px;
    height: calc(100vh - 37px);
  }
  .event_slider .splide__track .splide__list .splide__slide .splide_img .time_event span {
    font-size: 1.3em;
  }
  div.event_banner .date_container .date_event {
    font-size: 2em;
  }
  div.event_banner .date_container h2.very_big_title {
    font-size: 3em;
  }
  .radio-container {
    line-height: 1.8;
  }
  .grided_form a {
    line-height: 1.8;
  }
}

@media screen and (max-width: 874px) {
  .contact_section iframe {
    margin-bottom: 45px;
    height: calc(100vh - 45px);
  }
}

@media screen and (max-width: 780px) {
  .contact_section iframe {
    min-height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .slider_logo {
    width: 500px;
  }
  h1.text_logo {
    display: none;
  }
  #hamburger::after {
    width: 50px;
  }
  #nav {
    width: 100vw;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  .section .text_container {
    height: unset;
  }
}

@media only screen and (max-device-width: 768px) and (orientation: portrait) {
  a.arrow_btn {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  div.close_form {
    width: calc(100% - 60px);
    right: calc((-100vw) - 60px);
  }
  div.visible_form {
    right: 0;
  }
  div.cgv {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.582);
    z-index: 40;
  }
  div.cgv .contentPopup {
    width: calc(100vw - 80px);
    height: calc(100vh - 125px);
    padding: 85px 40px 40px 40px;
  }
  div.cgv .contentPopup .article {
    max-height: calc(100vh - 180px);
    overflow-y: auto;
  }
  div.cgv .contentPopup .article h2 {
    font-family: "kionaregular";
    margin-bottom: 5px;
  }
  div.cgv .contentPopup .article p {
    margin-bottom: 15px;
    text-align: justify;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    max-width: calc(100vw - 90px);
  }
}

@media screen and (max-width: 720px) {
  .accordeon_slider .contentPopup {
    width: 100vw;
    max-height: 100vh;
    height: 100vh;
    padding-bottom: 0;
    max-height: calc(100vh - 50px);
  }
  .accordeon_slider .contentPopup .closePopup {
    margin-right: 40px;
  }
  .accordeon_slider .contentPopup .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: calc(100vh - 150px);
    width: calc(100% - 80px);
    margin: auto;
  }
  .accordeon_slider .contentPopup .article .left,
  .accordeon_slider .contentPopup .article .right,
  .accordeon_slider .contentPopup .article .basic {
    width: auto;
  }
  .accordeon_slider .contentPopup .article .right {
    margin-top: 17px;
  }
  .accordeon_slider .contentPopup .article .left::after {
    display: none;
    width: 0;
  }
}

@media screen and (max-width: 480px) {
  .section {
    min-height: auto;
  }
  .section .text_container {
    min-height: auto;
  }
}

@media screen and (max-width: 460px) {
  ul.tabs_plats li {
    display: list-item;
    border: 1px solid #555453;
  }
  ul.tabs_plats li:last-child {
    border-bottom: none;
  }
  ul.tabs_plats li .current {
    border: none;
  }
}

@media screen and (max-width: 360px) {
  #app #msform .action-button {
    width: 100%;
  }
  #app input.previous.action-button {
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .grided_form {
    -ms-grid-columns: 1fr 15fr 9fr;
        grid-template-columns: 1fr 15fr 9fr;
  }
}

@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  .accordeon_slider .block-w {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    min-height: 100vh;
  }
  .left_right {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .section .text_container {
    width: calc(50vw - 5rem);
    padding: 85px 2.2rem;
  }
  .section .article_image {
    min-height: 100vh;
    height: auto;
    width: 50vw;
  }
  a.savoir_plus_btn {
    width: auto !important;
    text-align: center;
  }
  .section .text_container h2.big_title {
    font-size: 3em;
  }
  .section .text_container p {
    font-size: 1em;
  }
  .tab_container .tabcontent {
    width: 50%;
  }
  .tab_container .tab {
    position: unset;
  }
  .tab_slider .splide__track .splide__list .splide__slide {
    width: 50vw !important;
  }
  .tab_slider .splide__track .splide__list .splide__slide h3.recette_name {
    left: 0;
    width: calc(100% - 40px);
    padding: 20px;
    bottom: 45px;
  }
  .tab_container .tab button {
    font-size: 2.5em;
  }
  .tab_container .tab button.active {
    font-size: 3em;
  }
  .section .text_container a.savoir_plus_btn, .section .text_container .fit_w input {
    width: 100%;
  }
  .tab_slider .splide__pagination {
    display: none;
  }
}

@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
  a.savoir_plus_btn {
    width: auto !important;
    text-align: center;
  }
  .section .text_container a.savoir_plus_btn, .section .text_container .fit_w input {
    width: 100%;
  }
}

@media only screen and (max-device-width: 920px) and (orientation: landscape) {
  div.event_banner .date_container .date_event {
    font-size: 1.5em;
  }
  div.event_banner .date_container h2.very_big_title {
    font-size: 2em;
    padding: 10px 20px;
  }
}

@media (max-width: 767px) {
  ul.timeline:before {
    display: none;
  }
  ul.timeline > li {
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    float: left;
    clear: left;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 65px);
    width: -webkit-calc(100% - 65px);
    float: right;
    width: 100%;
    padding: 0;
  }
  ul.timeline > li > .timeline-badge {
    left: 28px;
    margin-left: 0;
    top: 16px;
  }
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
    display: none;
  }
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
    display: none;
  }
  .timeline > li.timeline-inverted {
    float: left;
    clear: left;
    margin-top: 0;
    margin-bottom: 0;
  }
  .timeline > li.timeline-inverted > .timeline-badge {
    left: 28px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  i.bi.bi-circle-fill {
    left: -25px;
    position: absolute;
    display: none;
  }
  .timeline > li:nth-child(3) {
    margin-top: 0;
  }
  .timeline > h2 {
    font-size: 1.8em;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #fff;
    background-color: transparent;
    position: initial;
    margin: auto auto 25px auto;
    padding: 5px 0;
    font-weight: 900;
  }
  .timeline {
    width: auto;
  }
  .timeline .dark {
    color: #555453;
  }
  .timeline-heading h4 {
    padding: 0 30px;
    margin: 5px 0 0 0;
  }
  .dark_timeline > h2 {
    color: #555453;
  }
  ul.timeline > li:nth-child(2) .timeline-panel div:first-child h4, ul.timeline > li:nth-child(2) .timeline-panel div:first-child p {
    margin-top: 25px !important;
  }
  ul.timeline > li:nth-last-child(2) .timeline-panel .timeline-body p {
    margin-bottom: 25px !important;
  }
}

@media only screen and (max-device-width: 760px) and (orientation: portrait) {
  .accordeon_slider .block-w {
    min-height: 100vh;
  }
  .tab_container {
    position: relative;
  }
  .tab_container .tab {
    position: absolute;
    z-index: 1;
    padding-bottom: 90px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 130px;
  }
  .tab_container .tab button {
    padding: 5px;
    background-color: #fff;
  }
  .tab_container .tab button.active {
    font-size: 1.5em;
    padding: 5px 20px;
  }
  .tab_container .tab button:not(:first-child) {
    margin-top: 0;
  }
  .tab_container .tab button:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .tab_container .tabcontent {
    width: 100%;
  }
  .tab_container .tab_slider .splide__track .splide__list .splide__slide {
    width: 100vw !important;
  }
  .tab_container .tab button, .tab_container .tab button.active {
    font-size: 2em;
    font-weight: 900;
  }
  .tab_slider .splide__pagination {
    display: none;
  }
  .tab_slider .splide__track .splide__list .splide__slide h3.recette_name {
    bottom: 160px;
    font-size: 1em;
    left: 0;
    width: calc(100% - 60px);
    background-color: #00000066;
    padding: 30px;
    bottom: 45px;
  }
}

@media only screen and (max-device-width: 620px) and (orientation: portrait) {
  .contact_section .contact-form form.contact .mk-grid input {
    width: auto;
  }
  .contact_section .contact-form form.contact .mk-grid input:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .contact_section .contact-form form.contact .mk-grid input:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .contact_section .contact-form form.contact .mk-grid span:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .contact_section .contact-form form.contact .mk-grid span:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
  }
  .accordeon_slider .contentPopup .closePopup {
    margin: 30px 40px 0 40px;
    width: calc(100% - 80px);
  }
  div.cgv .contentPopup button {
    width: 100%;
  }
}

@media only screen and (max-device-width: 420px) and (orientation: portrait) {
  .tab_container .tab button, .tab_container .tab button.active {
    font-size: 1.5em;
  }
}

@media only screen and (max-device-width: 414px) and (orientation: portrait) {
  .section .text_container h2.big_title {
    font-size: 4.2em;
  }
}

@media only screen and (max-device-width: 390px) and (orientation: portrait) {
  .accordeon_slider .text_accordeon a {
    width: auto;
    margin: 0 30px;
  }
}

@media (max-width: 620px) {
  .contact_section .contact-form form.contact .mk-grid input:last-of-type {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .contact_section .contact-form form.contact .mk-grid input:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  section.left_right {
    display: block;
  }
  section.left_right .text_container {
    width: 90vw;
    max-height: unset;
    padding: 90px 5vw 0 5vw;
  }
  section.left_right .article_image {
    width: 100vw;
    height: 360px;
  }
  a.arrow_btn {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .not_found .container .img_404 {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media screen and (max-width: 668px) {
  .not_found .container .img_404 {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  .not_found .container {
    max-height: 288px;
  }
}

@media screen and (max-width: 520px) {
  .not_found .container .img_404 {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
}
/*# sourceMappingURL=responsive.css.map */
